body {
    background-color: darkolivegreen;
    color: rgb(165, 177, 165);
    font-family: sans-serif;
}

.content {
    width: 700px;
    margin: auto;
    text-align: center;
}

h1 {
    display: block;
    margin-bottom: 500 px;
}

h3 {
    display: inline-block;
    margin-bottom: 500 px;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(136, 161, 88);
    border-radius: 15px;
}

.resume {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(136, 161, 88);
    border-radius: 15px;
    list-style: none;
}

input {
    border-radius: 3px;
    height: 15px;
}

.button {
    width: 80px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(98, 133, 98);
    border: none;
    font-weight: bold;
}

.button:hover {
    background-color: darkolivegreen;
    color: rgb(165, 177, 165);
    border: 2px solid darkolivegreen;
    border-color: rgb(165, 177, 165);
}

.Form {
    /* width: 500px; */
}

.Form label {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    color: rgb(34, 53, 34);
}

input:focus::placeholder {
    color: transparent;
  }


