body {
    background-color: darkolivegreen;
    color: rgb(165, 177, 165);
    font-family: sans-serif;
}

.content {
    width: 700px;
    margin: auto;
    text-align: center;
}

h1 {
    display: block;
    margin-bottom: 500 px;
    color: whitesmoke;
}

h3 {
    display: inline-block;
    margin-bottom: 500 px;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(136, 161, 88);
    border-radius: 15px;
}

.resume {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: rgb(71, 105, 155);
    background-color: rgb(204, 206, 200);
    border-radius: 15px;
    list-style: none;
}

input {
    border-radius: 3px;
    height: 30px;
}

.parameters-input {
    color:white;
    /* color: rgb(222, 237, 245); */
    background-color:  darkolivegreen;
}

span {
    font-weight: bold;
}

.summary {
    display: block;
    margin-top: 30px;
    color: rgb(59, 116, 48);
}

.summary-text {
    width: 200px;
    display: inline-block;
    text-align: right;
    font-weight: normal;
    padding-right: 10px;
}

.summary-number {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.schedule {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    /* text-decoration: underline; */
    /* font-weight: bold; */
    color: rgb(59, 116, 48);
}

.button {
    width: 80px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(98, 133, 98);
    border: none;
    font-weight: bold;
}

.button:hover {
    background-color: darkolivegreen;
    color: rgb(165, 177, 165);
    border: 2px solid darkolivegreen;
    border-color: rgb(165, 177, 165);
}

.Form {
    /* width: 500px; */
}

.Form label {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    color: rgb(34, 53, 34);
}

input:focus::placeholder {
    color: transparent;
  }

h4 {
    margin-top: 10px;
    font-style: italic;
    font-weight: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addFinInfo {
    font-style: normal;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Schedule-h1 {
    text-align: center;
    color:whitesmoke;

}

.buttonSchedule {
    margin-left: 400px;
    width: 80px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(194, 212, 194);
    border: none;
    font-weight: bold;
}

.buttonSchedule:hover {
    background-color: darkolivegreen;
    color: rgb(131, 148, 131);
    border: 2px solid darkolivegreen;
    border-color: rgb(165, 177, 165);
}

table {
    color: white;
    background-color: rgb(184, 182, 182);
    margin: auto;
    /* margin: 25 px 0; */
    padding: 2px;
    min-width: 600px;
    text-align: center;
    /* line-height: 18px; */
    grid-row-start: span;
    /* column-width: 400px; */
    /* border-width: 2px;
    border-color: indigo; */
    border-radius: 5px;
}

table thead tr {
    background-color: rgb(118, 117, 143);
    font-weight: bolder;
    line-height: 28px;
    position: sticky;
    top: 0;
}

table th,
table td {
    padding: 12px, 15px;
    width: 100px;
}

table td:nth-of-type(1),
table th:nth-of-type(1) {
    width: 50px;
}

table tbody tr {
    border-bottom: 1px solid rgb(15, 15, 29);
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: rgb(94, 90, 90);
}

table tbody tr:nth-of-type(odd) {
    color: #f3f3f3;
}

table tbody tr:last-of-type {
    line-height: 28px;
    background-color: rgb(118, 117, 143);
}

.sumRow {
    font-weight: bolder;

}
